[submodule "Gdbinit"]
	path = Gdbinit
	url = https://github.com/gdbinit/Gdbinit.git
[submodule "vim/bundle/ack.vim"]
	path = vim/bundle/ack.vim
	url = http://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/c.vim"]
	path = vim/bundle/c.vim
	url = http://github.com/vim-scripts/c.vim.git
[submodule "vim/bundle/calendar-vim"]
	path = vim/bundle/calendar-vim
	url = http://github.com/mattn/calendar-vim.git
[submodule "vim/bundle/emmet-vim"]
	path = vim/bundle/emmet-vim
	url = git@github.com:mattn/emmet-vim.git
[submodule "vim/bundle/html5.vim"]
	path = vim/bundle/html5.vim
	url = http://github.com/othree/html5.vim.git
[submodule "vim/bundle/jedi-vim"]
	path = vim/bundle/jedi-vim
	url = http://github.com/davidhalter/jedi-vim.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = http://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/tlib_vim"]
	path = vim/bundle/tlib_vim
	url = http://github.com/tomtom/tlib_vim.git
[submodule "vim/bundle/vim-addon-mw-utils"]
	path = vim/bundle/vim-addon-mw-utils
	url = http://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/bundle/vim-snipmate"]
	path = vim/bundle/vim-snipmate
	url = http://github.com/garbas/vim-snipmate.git
[submodule "vim/bundle/vim-snippets"]
	path = vim/bundle/vim-snippets
	url = http://github.com/honza/vim-snippets.git
[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = http://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/vim-cmake"]
	path = vim/bundle/vim-cmake
	url = http://github.com/vhdirk/vim-cmake.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = http://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = http://github.com/tpope/vim-surround.git
[submodule "zsh/zsh-syntax-highlighting"]
	path = zsh/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/zsh-completions"]
	path = zsh/zsh-completions
	url = git@github.com:zsh-users/zsh-completions.git
[submodule "zsh/zsh-git-prompt"]
	path = zsh/zsh-git-prompt
	url = git@github.com:olivierverdier/zsh-git-prompt.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "vim/bundle/vim-sparkup"]
	path = vim/bundle/vim-sparkup
	url = git@github.com:tristen/vim-sparkup.git
[submodule "vim/bundle/--force"]
	path = vim/bundle/--force
	url = git@github.com:mattn/emmet-vim.git
[submodule "vim/bundle/vim-abolish"]
	path = vim/bundle/vim-abolish
	url = git@github.com:tpope/vim-abolish.git
